{% extends 'base.html.twig' %}

{% block title %}Accueil Site{% endblock %}

{% block body %}
    <h1>Bienvenue sur l'application M-Énergi's</h1>

    <div class="Hero">
        <img src="https://picsum.photos/1920/1080" class="Hero-img" />
        <div class="Hero-overlay"></div>
        <div class="Hero-content">
            <h1>M-Énergi's</h1>
            <p>L'application interne M-Énergi's vous permet de visualiser les coordonnées des employés de nos différentes agences afin de pouvoir les contacters facilement. De visualiser nos différents clients avec leur références. Elle permet aussi de se tenir informé de la vie de l'entreprise via plusieurs articles.</p>
            <p>Cliquez sur le bouton pour visiter notre site !</p>
            <p><a href="https://m-energies.fr/" target="_blank" class="btn btn-primary">M-Énergies.fr</a></p>
        </div>
    </div>
{% endblock %}