{% extends 'base.html.twig' %}

{% block title %}Accueil API 2{% endblock %}

{% block body %}
    <h1>Bienvenue sur l'application API 2</h1>

    <div class="Hero">
        <img src="https://picsum.photos/1920/1080" class="Hero-img" />
        <div class="Hero-overlay"></div>
        <div class="Hero-content">
            <h1>API 2</h1>
            <p>API 1 qui permet le CRUD (Create, Remove, Update, Delete) et la consultation de clients sous Symfony avec API PLATFORM.</p>
            <p>Cliquez sur le bouton pour accéder à l'API 2</p>
            <p><a href="/api" target="_blank" class="btn btn-danger">API 2</a></p>
            <p>Ou pour accéder à l'accueil de l'API 1</p>
            <p><a href="http://api1.local/" class="btn btn-primary">Accueil API 1</a></p>
        </div>
    </div>
{% endblock %}